body{
    margin: 0 auto;
    padding: 0;
    height: 100%;
    -webkit-user-select: none;
    overflow:hidden;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
html{
    height: 100%;
}
.one{
    list-style: none;
    height: 100%;
    width: 100%;
    line-height: 200%;
}
.two{
    list-style: none;
    width: 200%;
    background-color: rgb(206, 206, 206);
    z-index: 100;
    display: none;
}
.oneMenu{
    float: left;
    width: 5%;
    height: 100%;
    color: white;
    cursor: pointer;
    text-align: center;
}
.twoMenu{
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 15px;
    color: black;
}
.twoMenu:hover{
    background-color: rgb(0, 153, 255);
}
#container{
    width: 98%;
    height: 90%;
    margin-left: 1%;
    margin-top: 2%;
    border: solid 1px rgb(0, 161, 224);
}
#header{
    background-color: rgb(0, 139, 194);
    width: 100%;
    height: 5%;
    line-height: 200%;
    z-index: 100;
}
#edit{
    width: 100%;
    height: 95%;
    z-index: -1;
}
.active{
    background-color: rgb(0, 132, 255);
}
#fontSetting{
    position: absolute;
    width: 30%;
    height: 70%;
    background-color:rgb(212, 212, 212) ;
    top: 15%;
    left: 35%;
    display: none;
    border: 1px solid rgb(0, 129, 214);
}
.header{
    height: 5%;
    width: 100%;
    background-color: cornflowerblue;
    color: white;
    line-height: 200%;
    font-size: 13px;
    text-indent: 15px;
    cursor: move;
}
.container-little{
    float: left;
    text-align: center;
    margin-top: 20px;
    background-color: white;
    margin-left: 5%;
    height: 40%;
}
.header-little{
    border: 1px solid rgb(0, 122, 221);
    width: 100%;
}
.setting{
    width: 100%;
    height: 90%;
    background-color: white;
    border: 1px solid rgb(0, 122, 221);
}
.block{
    display: block;
}
#close{
    float: right;
    height: 100%;
    width: 10%;
    cursor: pointer;
    background-color: rgb(0, 104, 189);
    border:none;
    color: white;
}
#confirm{
    border: none;
    margin-top: 200px;
    width: 80px;
    height: 40px;
    float: right;
    margin-right: 20px;
    cursor: pointer;
}